# Ignore credentials and secrets
credentials.json
.env
streamlit_secrets.toml
# Byte-compiled / cache files
__pycache__/
*.py[cod]
# VSCode settings
.vscode/
# Mac system files
.DS_Store

secrets
secrets.toml
streamlit_secrets
streamlit_secrets.toml
.streamlit/secrets.toml
